# Các file rác của hệ thống và IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Các file môi trường ẩn chứa mật khẩu/token bảo mật
.env
*.env
config.json

# Cache của Python (nếu dự án có dùng Python làm EDA)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Thư mục thư viện cài thêm (nếu có dùng Node.js/Go)
node_modules/
vendor/
breast_cancer_present/